@font-face {
   font-family: 'LinLibertine_aDRS';
   font-display: swap;
   src: url('file:///Users/devinmoody/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-06-22_202025/fonts/LinLibertine_aDRS/font.ttf');
}
